<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTilte}}</title>
    {{!--partial for head injection--}}
    {{> headerInject}}
  </head>
  <body>
    {{> header}}
    <p>{{allCaps welcomeMessage}}</p>

    {{> footer}}
  </body>
</html>
